@using Web.Models
@model ChangePasswordViewModel
@{
    ViewBag.Title = "Смена пароля";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 center-block">
            <section class="section sign-in inner-right-xs">
                <h2 class="bordered">@ViewBag.Title</h2>
                @*<p>Добро пожаловать!</p>*@

                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "login-form cf-style-1" }))
                {
                @Html.AntiForgeryToken()   
                @Html.HiddenFor(s=>s.token)    
                <div class="field-row">
                    @Html.LabelFor(s => s.password)
                    @Html.PasswordFor(s => s.password, new { @class = "le-input" })
                    @Html.ValidationMessageFor(s => s.password)
                </div><!-- /.field-row -->
                    <div class="field-row">
                        @Html.LabelFor(s => s.password2)
                        @Html.PasswordFor(s => s.password2, new { @class = "le-input" })
                        @Html.ValidationMessageFor(s => s.password2)
                 </div><!-- /.field-row -->                  
                <div class="buttons-holder">
                    <button type="submit" class="le-button huge">Сменить пароль</button>
                </div><!-- /.buttons-holder -->
                }<!-- /.cf-style-1 -->

            </section><!-- /.sign-in -->
        </div><!-- /.col -->

    </div><!-- /.row -->
</div><!-- /.container -->
<!-- ========================================= MAIN : END ========================================= -->
