@using Web.Models
@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Восстановление пароля";
}
<div class="container">
    <div class="row">
        <div class="col-md-6 center-block">
            <section class="section sign-in inner-right-xs">
                <h2 class="bordered">@ViewBag.Title</h2>
               
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "login-form cf-style-1" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="field-row">
                        @Html.LabelFor(s => s.email)
                        @Html.TextBoxFor(s => s.email, new { @class = "le-input" })
                        @Html.ValidationMessageFor(s => s.email)
                    </div><!-- /.field-row -->
                <!-- /.cf-style-1 -->
                <p>* На электронную почту будет отправлено письмо со ссылкой для смены пароля</p>

                <div class="buttons-holder">
                    <button type="submit" class="le-button huge">Восстановить</button>
                </div><!-- /.buttons-holder -->
                }
            </section><!-- /.sign-in -->
        </div><!-- /.col -->

    </div><!-- /.row -->
</div><!-- /.container -->
<!-- ========================================= MAIN : END ========================================= -->
